.app {
  width: 100vw;
  height: 100vh;
  background: #eee;
}

.header {
  background: #fff;
  padding: 16px 20px;
  border-bottom: 1px solid #ddd;
}

.headerText {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}
